#lottoBoard{
  border: 1px solid black;
  height: 500px;
  width: 300px;
  
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}


.number{
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
}

.active{
  background-color: plum;
}